1.PYTHON OUTPUT

In [ ]:
print("hello world")

In [ ]:
print(1,2,3,3,sep='')

In [ ]:
print("ranveer kumar",end='-')
print("ranveer kumar")

2.DATA TYPES

In [ ]:
#Integer
print(8)
print(1e308)
#Decimal
print(8.55)
print(1.7e308)

In [ ]:
#Boolean
print(True)
print(False)

In [ ]:
#Text/String
print("ram")

In [ ]:
# List
print([1,2,3,4])
#Tuple
print((1,2,3,4))
#sets
print({1,2,3,4,5})
# Dictonary
print({1:"ranveer",2:"ram"})
# Complex number

In [ ]:
# Type function
type([1,2,3])

3.VARIABLES

In [ ]:
name="ranveer"
print(name)

In [ ]:
a=5
b=5
a+b

In [ ]:
a,b,c=1,2,3
print(a,b,c,sep='-')

In [ ]:
a=b=c=10
print(a,b,c)

4.KEYWORDS AND IDENTIFIERS

In [ ]:
# Totel 32 resurved wordes

# like false ,true,import

In [ ]:
# CANT START WITH DIGIT
# USE ONLY _ IN SPACEL CHAR
# CANT BE KEYWORDS

5.USER INPUT

In [ ]:
# input("Enter youtr name")

In [ ]:
# f=input("Enter first number")
# e=input("Enter Second number")
# f+e
# a,b=input("Enter number",).split()
# print(a,b)

6. TYPE CONVERSION

In [ ]:
# iMPLICIT CONVERSION

In [ ]:
# f=int(input("Enter first number"))
# e=int(input("Enter Second number"))
# f+e

7. LITERALS

In [ ]:
# INTEGER
a=0b101010 # BINARY REPERSENTATION
b=100   #  DECIMAL REPERSENTATION
c=0o310  # OCTA REPERSENTATION
d=0x12c #  HEXA REPERSENTATION

In [ ]:
# FLOAT LITERAL
float_1=10.2
float_2=1.5e2  #1.5*10^2
float_3=1.5e-3  #1.5*10^-3

In [ ]:
# COMPLEX LITERAL
X=3.14J

In [ ]:
# SRITNG
a='ranveer'
b="ranveer"
c="c"
d='''ranveeer'''
# unicod=u"\U001fursjfpwj\u94"
raw_str=r"raw \n string"
raw_str

In [ ]:
a=None
print(a)

8.OPERATORS

In [ ]:
# ARTHOMATIC OPERATORS
print(1+2)
print(1-2)
print(1*2)
print(1/2)
print(1//2)
print(5%2)
print(2**4)

In [ ]:
# RELATIONAL OPERATORS
print(4>5)
print(4>=5)
print(4<5)
print(4<=5)
print(4==5)
print(4!=5)

In [ ]:
# LOGICAL OPERATORS
print(1 and 0)
print(1 or 0)
print(not 6)

In [ ]:
# BITWISE OPERATORS
print(2 & 3)
print(2 | 3)
print(2 ^ 3)
print(~3)
print(4>>2)
print(4<<2)

In [ ]:
# ASSIGNMENT OPERATORS
A=2
A+=2
print(A)

In [ ]:
# MEMBERSHIP OPERATORS
# IN/NOT IN
print('D' in 'Delhi')
print('D'not in 'Delhi')

In [ ]:
# Question
n=int(input("Enter your number"))
a=n%10
n //=10
b=n%10
n//=10
print(a+b+n)