In [6]:
# Creating Tuples
t1=()
print(t1)
t2=(1,)
print(t2)
t3=(1,2,3,4,5)
t4=(1,'ran',True)
t5=(1,2,(4,5))
print(t3)
print(t4)
print(t5)
t6=tuple("hellow")
print(t6)

()
(1,)
(1, 2, 3, 4, 5)
(1, 'ran', True)
(1, 2, (4, 5))
('h', 'e', 'l', 'l', 'o', 'w')

In [7]:
sum(t3)

15

SETS

In [13]:
# CREATION
s=set()
print(s)
s1={1,2,3,4}
print(s1)
s3={1,'Ranveer',True}
s3
s4={1,2,3,(1,2,3)}
s4
# s5={1,2,{1,2}}
# s5

set()
{1, 2, 3, 4}

{(1, 2, 3), 1, 2, 3}

In [14]:
# Accessing
s1={1,2,3,4}
# accessing not valid
s1.update([5,6,7])
s1

{1, 2, 3, 4, 5, 6, 7}

In [15]:
# Deletion of attom
s={1,2,3,4,5}
# del s
s.discard(5)
s

{1, 2, 3, 4}

In [20]:
s={1,2,3,4,5}
s2={2,3,4,5,6,7,8}
s | s2
# difference
s-s2
# Symetric diffrence
s^s2
1 in s

True

In [21]:
for i in s :
    print(i)

1
2
3
4
5