In [32]:
import pandas as pd
import numpy as np

In [61]:
df=pd.read_csv('Remote_hiring.csv')

In [62]:
df.shape

(920, 9)

In [63]:
# df=df.columns=["name","Company_Twitter","Employees","What do they do","Link to website","HQ City","HQ Country","CEO name","CEO's Twitter"]

In [64]:
df.rename(columns = {'All Companies HR E-Mail Ids':'TEST'}, inplace = True)

In [65]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Missing your company?
0,From Remotive.com,"Browse 2,000 remote jobs on",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,https://remotive.com,NaN,��,������,NaN,Hiring remotely?
2,with ♥,Remotive! ➡➡➡,NaN,NaN,NaN,NaN,NaN,NaN,Email me at
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hello@remotive.io
4,NaN,NaN,Nb. of,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
df=df[~df['Unnamed: 0'].isna()]

In [67]:
df.shape

(828, 9)

In [2]:
df.to_excel('docks.xlsx',index=False)

NameError: name 'df' is not defined

In [ ]:
df

                                                   TEST            name
1     srmeenak@in.ibm.com,                          ...        srmeenak
4     jobs@signatrix.in,              sstanly@quinno...            jobs
7     gsrprasad@7hillsbiz.com,          hr@7hillsbiz...       gsrprasad
10    freshers@lntinfotech.com,                     ...        freshers
13    consultant@miracleindia.com,                  ...      consultant
...                                                 ...             ...
1518  myselfbijesh@gmail.com,        jumpjobs@jumpga...    myselfbijesh
1519  vaishalipatel@vignani.com,      anand@cervlean...   vaishalipatel
1520
shilpa.pruthi@consona.com     ,    mn@infobas...
shilpa.pruthi
1521  ajeet.kumar@estuate.com, lubna.s.hasheen@super...     ajeet.kumar
1522



[1253 rows x 2 columns]